@CHARSET "UTF-8";

body{
    background: #f0f0f0;
}

#projectSelect{
	padding: 10px;
	background: #e0e0e0;
	width: 460px

}

#projectSelect H1{
    font-family: "游ゴシック","Yu Gothic"; font-weight: bold;
    border-style: inset;
    width:auto;
    padding: 10px 10px;
    margin: 5px;
}

#projectSelect ul li{ /*リスト要素ulを初期化*/
    list-style: none;
}

#projectSelect label {
    margin-right: 10px;
    width:100px;
    float: left;
}

#projectSelect ul {
    width: 500px;
    margin: 0 auto;
}

#projectCreate{
	padding: 10px;
	background: #e0e0e0;
	width: 460px
}

#projectCreate H1{
    font-family: "游ゴシック","Yu Gothic"; font-weight: bold;
    border-style: inset;
    width:auto;
    padding: 10px 10px;
    margin: 5px;
}

#projectCreate ul li{ /*リスト要素ulを初期化*/
    list-style: none;
}

#projectCreate label {
    margin-right: 10px;
    width:100px;
    float: left;
}

#projectCreate ul {
    width: 500px;
    margin: 0 auto;
}

#button {
    display: block;
    margin: 0 auto;
}